<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/bootstrap.css">
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author detail {{author.first_name}} {{author.last_name}}</title>
</head>
<body>
    <h2>{{author.first_name}} {{author.last_name}}</h2>
    <h4>Books by this author:</h4>
    <ul>
        {% for book in author.books.all %}
        <li>{{book.title}}</li>
        {% endfor %}
    </ul>

    <h4>Add book to this author</h4>
    <form action="/add_book_to_author/{{author.id}}" method="post">
        {% csrf_token %}
        <select name="book">
            {% for book in all_books %}
            <option value={{book.id}} name="book">{{book.title}} ID#{{book.id}}</option>
            {% endfor %}
        </select>

        <input type="submit">
    </form>



</body>
</html>