<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my boys</title>
    <style>
        * {
            background-color: aqua;
            margin: 0px auto;
            padding: 5px;
        }

        h2 {
            background-color: aqua;

        }

        #wrapper{
            width: 900px;
        }
    </style>
</head>

<body>
    <div id="wrapper">
    <h2>Dallas' life</h2>

    <p>Here's a sweet picture of my baby boy, I love this one:</p>
    <img src="../images/dallas_3rd_grade.JPG" alt="" width=200px>

    <h4>What's your favorite thing about Dallas?</h4>
    <select name="" id="" style="background-color: white;">
        <option value="">SUPER sweet</option>
        <option value="">really smart</option>
        <option value="">Handsome</option>
        <option value="">artistic</option>
        <option value="">Good at minecraft</option>
    </select>

    <p>Here's another good one</p>
    <img src="../images/beach.JPG" width=500px;>

    <h4>List of Dallas' favorite things:</h4>
    <ul>
        <li>"Would you rather?" questions</li>
        <li>Cupcakes</li>
        <li>Roblox and Battlefront (it's a tie)</li>
        <li>mess pork ribs and Dominos pizza (it's a tie)</li>
        <li>It chapter 2 (the movie)</li>
        
    </ul>
</div>
</body>

</html>