<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'books/style.css' %}">

</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h3 style="display: inline-block;">Welcome, {{user.first_name}}</h3>
            <a class="right" href="../logout">Log off</a>
        </div>
        <div id="book_details">
            <form action="{{book.id}}/edit">
                <textarea name="title" cols="50" rows="1">{{book.title}}</textarea>
                <p>Added by {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}</p>
                <p>Added on {{book.created_at|date:"d M Y"}} @ {{book.created_at|time:"h:i"}}</p>
                <p>Description:</p>
                <textarea name="description" cols="50" rows="7">{{book.description}}</textarea>
                <!-- if the logged user is the one who uploaded book, show update/delete buttons -->
                {% if book.uploaded_by.id == user.id %}
                <button>Update</button>
                <button class="delete">Delete</button>
                {% endif %}
            </form>
        </div>

        <div id="users">
            <h3>Users who like this book</h3>
            <ul>
                {% for user in book.users_who_like.all %}
                <li>{{user.first_name}} {{user.last_name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

</html>