<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Books Site</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h3 style="display: inline-block;">Welcome, {{user.first_name}}</h3>
            <a class="right" href="../logout">Log off</a>
        </div>
        <div id="add_book">
            <h4>Add a favorite book</h4>
            <form action="add_book" method="POST">
                {% csrf_token %}
                <label for="title">Title:</label>
                <input type="text" name="title" id="title">
                <p>Description</p>
                <textarea name="description" cols="55" rows="8" placeholder="A real page-turner!"></textarea>
                <button id="add_book" type="submit">Add</button>
            </form>
        </div>
        <div id="all_books">
        <h4>All Books</h4>
        {% for book in books %}
            <div class="booklist">
            <a href="{{book.id}}/details">{{book.title}}</a>
            <p>Added by {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}</p>
        </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>