<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="wrapper">
    <h2>All shows</h2>
    <table style="width: 100%;">
        <colgroup>
            <col style="width: 5%;">
            <col style="width: 47;">
            <col style="width: 15%;">
            <col style="width: 15%;">
            <col style="width: 18%">
        </colgroup>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Release date</th>
            <th>Actions</th>
        </tr>
        {% for show in shows %}
        <tr>
            <td>{{show.id}}</td>
            <td>{{show.title}}</td>
            <td>{{show.network}}</td>
            <td>{{show.release_date | date:"Y-m-d" }}</td>
            <td><a href="/details/{{show.id}}">View</a> | <a href="/details/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/delete">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="shows/new">Add new show</a>
</div>

</body>

</html>