*{
    font-family: sans-serif;
    margin: 0px auto;
}

#wrapper{
    width: 1000px;
    margin: 25px auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 900px;
    text-align: left;
}

td,td {
    padding: 3px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table {
    margin-left: 5px;
}


.show_details{
    margin: 10px;
}

.header-footer{
    margin: 15px;
    color: cornflowerblue;
}

.warning{
    background-color: coral;
}

.button{
    border-radius: 5px;
    margin: 6px;
}

.block {
    display: block;
    margin: 2px;
}

.center_title{
    text-align: center;
}

.bold{
    font-weight: bold;
}