*{
    font-family: sans-serif;
    margin: 0px auto;
}

#wrapper{
    width: 1000px;
    margin: 30px auto;
}


.header-footer{
    margin: 15px;
    color: cornflowerblue;
}

.button{
    border-radius: 5px;
    margin: 6px;
}

.block {
    display: block;
    margin: 2px;
}

.center_title{
    text-align: center;
}

.bold{
    font-weight: bold;
}

input {
    display: block;
    padding: 2px;
    margin-bottom: 5px;
}

#login, #registration {
    display: inline-block;
    width: 450px;
    vertical-align: top;
}

.success{
    color:limegreen;
}

.right{
    text-align: right;
    display: block;
    margin-right: 10px;
}

input:invalid{
    border-color: #900;
    background-color: #FDD;
  }

  input:focus:invalid {
    outline: none;
  }
  
/* input:invalid:required {
background-image: linear-gradient(to right, grey, rgb(178, 238, 178));
    } */

.error {
    width  : 100%;
    padding: 0;
    
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    
    box-sizing: border-box;
    }

input:valid {
border: 2px solid black;
    }