<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="wrapper">
        <div id="register">
            <h3 class="title">Register</h3>
            {% if messages %}
            <ul class="messages">
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
            </ul>
            {% endif %}      
            <form action="register" method="POST">
                {% csrf_token %}
                <p>First Name:</p>
                <input type="text" name="first_name" required>
                <p>Last name:</p>
                <input type="text" name="last_name" required>
                <p>Email:</p>
                <input type="text" name="email" required>
                <p>Password</p>
                <input type="password" name="password" required>
                <p>Confirm password:</p>
                <input type="password" name="confirmation" required>
                <input type="submit" value="Register" class="send">
            </form>
        </div>
        <div id="login">
            <h3 class="title">Log in</h3>
            <form action="login" method="POST">
                {% csrf_token %}
                <p>Email:</p>
                <input type="text" name="email">
                <p>Password:</p>
                <input type="password" name="password">
                <input type="submit" value="Log in" class="send">
            </form>
        </div>
    </div>

</body>

</html>