<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove course</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <h3>Are you sure you want to delete the following course?</h3>
        <p>Name: {{ course.name }}</p>
        <p>Description: {{ course.description.content }}</p>
        <form action="/destroy/{{course.id}}">
            {% csrf_token %}
            <input class="warning button" type="submit" value="yes, I really want to do this!">
        </form>
        <form action="/courses">
            {% csrf_token %}
            <input class="button" type="submit" value="No" style="background-color: limegreen;">
        </form>
    </div>
</body>
</html>