<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="wrapper">
        <div class="add">
            <h3 class="header-footer">Add new course</h3>

            {% if messages %}
            <ul class="messages">
                    {% for message in messages %}
                        <li> {{ message }} </li>
                    {% endfor %}
            </ul>
            {% endif %}

            <form action="courses/new" method=POST>
                {% csrf_token %}
                <label class="block" for="Name">Name:</label>
                <input class="block" type="text" name="course_name" size=50>
                <label class="block" for="Description">Description</label>
                <textarea class="block" name="course_description" id="" cols="90" rows="10"></textarea>
                <input class="block" type="submit" value="Add"
                    style="background-color: limegreen; border-radius: 5px; width: 75px;">
            </form>
        </div>
        <h3 class="center_title">Courses</h3>
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 37%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 18%;">
            </colgroup>

            <tr>
                <th>Course name</th>
                <th>Description</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for course in courses %}
            <tr>
                <td>{{course.name}}</td>
                <td>{{course.description.content}}</td>
                <td>{{course.created_at}}</td>
                <td><a href="prompt/{{course.id}}">remove</a> | <a href='comment/{{course.id}}'>comment</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>